<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>

</head>
<body>
    <div>
        <!-- container类固定宽度并支持响应式布局容器 -->
        <div class="container">
            <div class="row">
                <a href="/login">点我登录</a>
            </div>
        </div>
    </div>
</body>
</html>