<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login in</title>
    <!-- 待引入BootStrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/fSelect.css" th:href="@{css/fSelect.css}">
    <link rel="stylesheet" href="css/indexStyle.css" th:href="@{css/indexStyle.css}">
    <link rel="stylesheet" href="css/loginStyle.css" th:href="@{css/loginStyle.css}">
    <script type="text/javascript" href="js/bootstrap.min.js"></script>
    <script type="text/javascript" href="js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $("#loginbtn").click(function(){
                var loginName = $("#loginName");
                var password = $("#password");
                var msg = "";
                if(loginName.val() == ""){
                    msg = "登录名不能为空！";
                    loginName.focus();
                }else if(password.val() == ""){
                    msg = "密码不能为空！";
                    password.focus();
                }
                if(msg != ""){
                    alert(msg);
                }else{
                    $("#loginform").submit();
                }
            })
        })
    </script>
</head>
<body class="text-center">
<form class="form-signin" action="main.html" th:action="@{/}" method="post" id="loginform">
    <img class="mb-4" th:src="@{/img/bootstrap-solid.svg}" src="img/bootstrap-solid.svg" alt="" width="180" height="180">
    <h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}">Please sign in</h1>
    <!--判断-->
    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    <label class="sr-only" th:text="#{login.username}">Username</label>
    <input type="text" name="loginName" class="form-control" placeholder="Username"
           th:placeholder="#{login.username}"
           required="" autofocus="">
    <label class="sr-only" th:text="#{login.password}">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password"
           th:placeholder="#{login.password}" required="">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"/> [[#{login.remember}]]
            </label>
        </div>
    <a class="btn btn-sm" th:href="@{/regist}">没有账号？点我注册</a>
    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.btn}">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
    <a class="btn btn-sm" th:href="@{/login(l='zh_CN')}">中文</a>
    <a class="btn btn-sm" th:href="@{/login(l='en_US')}">English</a>
</form>
</body>
</html>